django==1.9
django-rest-auth==0.3.4
djangorestframework==3.3.2
djangocms-admin-style==0.2.5
django-rest-swagger==0.3.7
python-social-auth==0.2.12

pycrypto==2.6.1

psycopg2==2.6
dj-database-url==0.4.1

uwsgi==2.0.10

virtualenv==12.0.7
pyjade==4.0.0
django-pipeline==1.6.8
jsmin==2.2.1
watchdog==0.8.3
supervisor-stdout==0.1.1