@import '/node_modules/jeet/stylus/jeet'

//If you want to see the actual grid uncomment the "edit" (alias debug) mixin
//@include edit(tomato);
//
normalize-css()
base()
//edit()

@font-face
  font-family HelveticaNeue
  font-style normal
  font-weight normal
  //src url(./fonts/HelveticaNeue.ttf)

body {
  //background: #f4f4f4
  font-family: 'HelveticaNeue', sans-serif;
  margin: 0
}
